<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head') %>

    <link rel="stylesheet" href="/css/accessoryCategory.css">
</head>

<body>

    <%- include ('partials/header') %>

        <main>
            <div class="category-title-container">
                <% dbAccessoryTypes.forEach(type => { %>
                    <% if(type.id == idCategory) { %>
                        <h1> Categoría: <%= type.type %> </h1>
                    <% } %>
                   
               <% }) %>
            </div>
            <div class="cards-container">
                <% selectedCategory.forEach(accessory=> { %>
                    
                        <div class="product-card">
                            <div class="img-card-container">
                                <img class="main-image"
                                    src="/images/accessories/<%= accessory.image %>"
                                    alt="">
                            </div>
                            <div class="info-container">
                                <div class="device-model-container">
                                    <h2 class="device-model">
                                        <%= accessory.accessory %>
                                    </h2>
                                </div>                   
                            </div>
                            <% if(locals.isLogged) { %>
                                <div class="delete-update-btns-container">
                                    <div class="update-delete-btn-container">
                                        <button class="form-device-btn" type="submit"><a
                                                href="/admin/update/accessory/<%= accessory.id %>">Actualizar producto</a></button>
                                    </div>
                                    <form class="update-delete-btn-container"
                                        action="/admin/delete/accessory/<%= accessory.id %>?_method=DELETE" method="POST">
                                        <button class="form-device-btn" type="submit">Eliminar producto</button>
                                    </form>
                                </div>
                                <% } %>
                        </div>


                    <% }) %>


            </div>
        </main>

        <%- include ('partials/floatsocialmediabtn') %>

        <%- include ('partials/footer') %>

</body>

</html>