<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head') %>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet">     
        <link rel="stylesheet" href="/css/standard-form.css">
</head>

<body>

    <main>


            <form class="creation-form" id="create-device-form" action="/admin/accessory" method="POST"
                enctype="multipart/form-data">

                <h3>Formulario de creación de accesorio</h3>

                <div class='label-input-container'>
                    <label class="form-labels" for="type">Tipo</label>
                    <select class="form-input" name="type">
                        <optgroup label="Tipo de accesorio">
                            <% dbAccessoryTypes.forEach(accessory=> { %>
                                <option value="<%= accessory.id %>">
                                    <%=accessory.type%>
                                </option>
                                <% }) %>
                        </optgroup>
                    </select>
                    <% if(locals.errors && errors.type) { %>
                        <p class="error-msg">
                            <%= errors.type.msg %>
                        </p>
                        <% } %>
                </div>

                <div class="label-input-container">
                    <label class="form-labels" for="accessory">Accesorio</label>
                    <input class="form-input" type="text" name="accessory"
                        value="<%= locals.oldBody && oldBody.accessory ? oldBody.accessory : "" %> ">
                    <% if(locals.errors && errors.accessory) { %>
                        <p class="error-msg">
                            <%= errors.accessory.msg %>
                        </p>
                        <% } %>
                </div>

                <div class="label-input-container">
                    <label class="form-labels" for="image">Imagen</label>
                    <input class="form-input" type="file" name="image">
                    <% if(locals.errors && errors.image) {  %> 
                        <p class = "error-msg"> <%= errors.image.msg  %>  </p>
                    <% } %> 
                </div>

                <div class='label-input-container'>
                    <label class="form-labels" for="brand">Marca</label>
                    <select class="form-input" name="brand">
                        <optgroup label="Marca">
                            <% dbBrands.forEach(brand=> { %>
                                <option value="<%= brand.id %>">
                                    <%=brand.brand%>
                                </option>
                                <% }) %>
                        </optgroup>
                    </select>
                    <% if(locals.errors && errors.type) { %>
                        <p class="error-msg">
                            <%= errors.type.msg %>
                        </p>
                        <% } %>
                </div>

                <div class="label-input-container">
                    <label class="form-labels" for="price">Precio (opcional)</label>
                    <input class="form-input" type="text" name="price">
                    <% if(locals.errors && errors.price) {  %> 
                        <p class = "error-msg"> <%= errors.price  %>  </p>
                    <% } %> 
                </div>


                <button class="form-device-btn" type="submit">Crear</button>

            </form>

    </main>

</body>

</html>